.home_section{
    padding: 30px;
    display: flex;    
}

@media only screen and (max-width: 600px) {
    .home_section{
        display: inline-block;
        margin-top: 20px;
        padding-top: 0px;
    }
  }