.search {
  background-color: white;
  position: absolute;
  top: 35px;
  left: 25%;
  font-weight: 600 !important;
  z-index: 100;
}

@media only screen and (max-width: 600px) {
  .search {
    position: absolute;
    top: 35px;
    left: 0%;
    width: 10%;
    font-weight: 600 !important;
  }
}

.search > h2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 539px;
  padding: 20px;
  background-color: white;
  position: absolute;
  left: 0;
  z-index: 100;
  top: 328px;
}

.search > input {
    margin: 0px;
  width: 539px;
  padding: 20px;
  position: absolute;
  left: 0;
  height: 30px;
  top: 380px;
  border: none;
}

.search > input:focus {
  outline-width: 0;
}

.search > button {
  position: absolute;
  left: 0;
  top: 440px;
  text-transform: inherit !important;
  background-color: #ff7779;
  color: white;
  width: 579px;
  z-index: 100;
}

.search > button:hover {
  background-color: white;
  color: #ff7779;
}
